body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: white;
    padding: 1px 0;
    height: 1px; /* 헤더 높이를 100px로 설정 */
    text-align: center;
}

main {
    padding: 20px;
}

.subtitle {
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    margin: 30px 0;
    margin-bottom: 50px;
    color: #5477AD;
    padding: 0 50px; /* 좌우 여백을 20px로 설정 */

    position: relative; /* 상대 위치 설정 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #5477AD;
    /* font-weight: 500; */
    padding: 0 50px; /* 왼쪽과 오른쪽 여백을 20px로 설정 */
    padding-top: 30px; /* 예시: .subtitle과의 간격을 조정할 패딩 설정 */
}

.left-side {
    width: 16%;
}

.middle-side {
    width:60%;
    text-align: left;
}

.right-side {
    width: 43%;
    text-align: left;
    font-size: 500;
}

.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2 {
    margin: 0;
    padding-bottom: 10px;
}

.middle-side p, .right-side p {
    margin: 0px 0;
}

.about-text, .contact-text {
    color:#6E6E6E; 
    font-size: 18px; 
    font-weight: normal;
    line-height: 1.5;
    
}
.contact-title, .about-title {
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-sub {
    color: #5477AD;
    font-weight: bold;
}

/* 마우스 커서 깜빡이는 효과 */
.blink-cursor {
    position: absolute; /* 절대 위치 설정 */
    top: 42%;
    left: var(--cursor-position, 50); /* 변수로 위치 설정 */
    transform: translateY(-50%); /* 수직 정렬을 위한 변환 */
    animation: blink 0.8s infinite; /* 깜빡임 애니메이션 */
    margin-left: -15px; /* 여기에 원하는 간격을 설정하세요 */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}